<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <img
        class="image-detail-product"
        src="../../../../../files/{{ product.fileName }}"
      />
    </div>
    <div class="col-md-6">
      <div class="row mb-4">
        <h4>{{ product.description }}</h4>
      </div>
      <div class="row mb-4">
        <h4>{{ product.price }}€</h4>
      </div>
      <div class="row mb-4">
        <button class="btn btn-success btn-lg">Buy</button>
      </div>
    </div>
  </div>
</div>
